body {
    font: 'Anton', sans-serif;
    margin: 0;
}

/* Header */

.header-container {
    position: relative;
    background-image: url('../icon/header-row-2.png');
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 670px;
    background-size: cover;
    background-position: 10% 64%;
}

.header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5% 5%;
    z-index: 2;
    position: relative;
}

header img {
    width: 200px;
    height: 25px;
}

.title-input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    z-index: 2;
    padding: 0% 5% 0% 5%;
}

h1 {
    color: #FFD15B;
    font-weight: 700;
    font-size: 44px;
    text-align: center;
}

.input-button-container {
    background: #fff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
}

.input-search {
    background-color: #fff;
    border: 0;
    width: 100%;
}

.search-button {
    background: #000;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    width: 45px;
}

.search-button i {
    color: #fff;
    font-size: 25px;
}
/* Header */

/* Main */

main {
    background-color: lightgrey;
    padding: 3% 8%;
}

.filter-total-cantainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.filters {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: start;
}

.dropdown {
    border: 0;
    background: #fff;
    border-radius: 5px;
    padding: 14px 12px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.choice {
    font-family: Manrope;
    font-size: 16px;
    color: #1B1B1B;
    font-weight: 500;
}

.dropdown-content {
    width: 85%;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dropdown-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    border: 0.3px solid lightgray;
    padding: 7px;
}

.dropdown-input input {
    border: 0;
}

.dropdown-input i {
    color: lightgray;
}

.dropdown-list {
    width: 100%;
    padding: 0;
}

.dropdown-list li {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    cursor: pointer;
    padding-left: 12px;
}

.total-recipes {
    font-family: Anton;
    font-size: 21px;
    font-weight: 400;
}
/* Main */